.ant-layout.ant-layout-has-sider >.ant-layout{
    min-height: 100vh;
}

.ant-layout-header{
    background: rgb(0 9 76) !important;
}

.ant-layout-sider{
    padding-top: 30px !important;
}
.ant-layout.ant-layout-has-sider{
    padding-top: 40px;
}
